<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">

  <display-name>URL Rewriting</display-name>

  <servlet> 
        <servlet-name>firstpg</servlet-name> 
        <servlet-class>firstpg</servlet-class> 
    </servlet> 
    <servlet> 
        <servlet-name>secondpg</servlet-name> 
        <servlet-class>secondpg</servlet-class> 
    </servlet>

     <servlet-mapping> 
        <servlet-name>firstpg</servlet-name> 
        <url-pattern>/servlets/servlet/firstpg</url-pattern> 
    </servlet-mapping> 
    <servlet-mapping> 
        <servlet-name>secondpg</servlet-name> 
        <url-pattern>/servlets/servlet/secondpg</url-pattern> 
    </servlet-mapping>
    
</web-app>