<!- - The file name ex1.css and can be opened in notepad.--> 
h1 
{ 
 font-family:Arial 
} 
h2 
{ 
 font-family:times new roman; 
 color:red; 
left:20px 
} 
h3 
{ 
font-family:arial; 
color:blue; 
} 
p  
{ 
 font-size:14pt; 
 font-family:Monotype Corsiva 
}